#  -----------------------------------------------
#     BL32XU BSS Config File  2009/11/10 (ueno)
#  -----------------------------------------------
#
BL_Name:BL32XU
BL_Object:32in
#BL_Object:41in
#BL_Global_Path:/isilon/users/rikenbl/rikenbl
#BL_Global_Path:/isilon/users/hikima/hikima/test
#BL_Global_Path:/isilon/users/target/target
BL_IC1Range:10000.0
#
#  -----------------------------------------------
#    _/_/_/ Message Server (BL-WS) _/_/_/
#  -----------------------------------------------
#
#BL32aws
#Ms_IP:172.24.242.41
# for Blanc8
Ms_IP:192.168.163.1
#Ms_IP:192.168.163.18
Ms_Port:10101
#
#--------------------------------------------------------------
# ST VME axis
#--------------------------------------------------------------
_axis_begin:
_axis_comment: st slit1 hall blade, scantool
_axis_name:st2_slit_1_hall
_cunit: pulse
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:
_cw_limit0:10000000
_ccw_limit0:-1000000
_speed1:1000
_speed2:100
_upper_limit:13.1
_lower_limit:-1.1
_axis_end:
#
_axis_begin:
_axis_comment: st slit1 ring blade, scantool
_axis_name:st2_slit_1_ring
_cunit: pulse
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:500
_upper_limit:1.1
_lower_limit:-10.1
_axis_end:
#
_axis_begin:
_axis_comment: st slit1 upper blade,scantool
_axis_name:st2_slit_1_upper
_cunit: pulse
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:500
_upper_limit:11.1
_lower_limit:-11.1
_axis_end:
#
_axis_begin:
_axis_comment: st slit1 lower blade, scantool
_axis_name:st2_slit_1_lower
_cunit: pulse
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:5000
_rise0:100
_fall0:100
_backlash0:
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:500
_upper_limit:1.1
_lower_limit:-10.1
_axis_end:
#
_axis_begin: 
_axis_comment: St_2_Slit_1_Stage y, used in scantool
_axis_name:st2_motor_3
_cunit:pulse
_sense:-1
_datum_mode:11010
_home_shift:0
_home_value:0.0
_val2pulse:500
_speed0:2000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:2000
_speed2:500
_upper_limit:100.9
_lower_limit:-100.9
_axis_end:
#
_axis_begin: 
_axis_comment: St_2_Slit_1_Stage z, used in scantool
_axis_name:st2_motor_4
_cunit:pulse
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:1000
_speed0:5000
_rise0:500
_fall0:500
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:20
_upper_limit:50.9
_lower_limit:-50.9
_axis_end:
#
_axis_begin:
_axis_comment: mv_ty, used in scantool
_axis_name:st2_mv_1_ty
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
# pulse/mrad
_val2pulse:30000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: mv_tx, used in scantool
_axis_name:st2_mv_1_tx
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
# pulse/mrad
_val2pulse:33333
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: mv_z, used in scantool
_axis_name:st2_mv_1_z
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: mv_y, used in scantool
_axis_name:st2_mv_1_y
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: mh_tz, used in scantool
_axis_name:st2_mh_1_tz
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
# pulse/mrad
_val2pulse:30000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: mh z, used in scantool
_axis_name:st2_mh_1_z
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: mh y, used in scantool
_axis_name:st2_mh_1_y
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 100.0
_lower_limit:-100.0
_axis_end:
#
_axis_begin:
_axis_comment: attenuator unit1, used scantool
_axis_name:st2_att_1_rx
_cunit:pulse
_sense:-1
_datum_mode:01010
_home_shift:0
#_home_shift:-1815
_home_value:0.0
#_val2pulse:-40
_val2pulse:1
_speed0:500
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:100
_speed2:50
_upper_limit:9999.9
_lower_limit:-9999.9
_axis_end:
#
_axis_begin:
_axis_comment: Pinhole Y, scantool
_axis_name:st2_slit_2_lower
#_sunit: um
_cunit:pulse
_sense:-1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:2000
_rise0:100
_fall0:100
_backlash0:100
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:5000
_speed2:500
_upper_limit:500.1
_lower_limit:-500.1
_axis_end:
#
_axis_begin:
_axis_comment: Pinhole Z, scantool
_axis_name:st2_slit_2_upper
#_sunit: um
_cunit:pulse
_sense:-1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:2000
_rise0:100
_fall0:100
_backlash0:100
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:5000
_speed2:50
_upper_limit:500.1
_lower_limit:-500.1
_axis_end:
#
_axis_begin:
_axis_comment: microscope pint axis
_axis_name:st2_coax_1_x
_sunit:mm
_cunit:pulse
_sense:-1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:400
_rise0:50
_fall0:50
_backlash0:10
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit: 300.0
_lower_limit:-300.0
_axis_end:
#
_axis_begin:
_axis_comment: MicroScope Y, scantool
_axis_name:st2_slit_2_ring
#_sunit: um
_cunit:pulse
_sense:-1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:20
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:100
_speed2:10
_upper_limit:500.1
_lower_limit:-500.1
_axis_end:
#
_axis_begin:
_axis_comment: MicroScope Z, scantool
_axis_name:st2_slit_2_hall
_cunit: pulse
#_sunit: um
_sense:-1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:20
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:100
_speed2:10
_upper_limit:500.1
_lower_limit:-500.1
_axis_end:
#
_axis_begin:
_axis_comment: microscope zoom axis
_axis_name:st2_coax_1_zoom
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:1
_speed0:6000
_rise0:600
_fall0:600
_backlash0:1500
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit:100 
_lower_limit:-51750
_axis_end:
#
_axis_begin:
_axis_comment: Collimator Y, used in scantool
_axis_name:st2_collimator_1_y
_sunit:mm
_cunit:pulse
_sense:1
_datum_mode:00101
_home_shift:0
_home_value:0
#_val2pulse:10000
_val2pulse:500
_speed0:1000
_rise0:200
_fall0:200
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
_upper_limit:500.0
_lower_limit:-500.0
_axis_end:
#
_axis_begin:
#_axis_comment: collimator z, used in scantool
_axis_comment: collimator z, evacuate axis, used in scantool
_axis_name:st2_collimator_1_z
_sunit:mm
_cunit:pulse
_sense:1
_datum_mode:00101
_home_shift:0
_home_value:0
_val2pulse:2000
#_speed0:2000
_speed0:5000
_rise0:500
_fall0:500
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:2000
_speed2:500
_upper_limit:5000.0
_lower_limit:-5000.0
_axis_end:
#
_axis_begin:
_axis_comment: monitor x, used in scantool
_axis_name:st2_monitor_1_x
_cunit: pulse
_sunit: mm
_sense:-1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:500
_speed0:1000
_rise0:50
_fall0:50
_backlash0:-10
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:20.5
_lower_limit:-20.5
_axis_end:
#
_axis_begin:
_axis_comment: monitor y
_axis_name:st2_monitor_1_y
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:500
_speed0:500
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:500
_speed2:100
_upper_limit: 500.0
_lower_limit:-500.0
_axis_end:
#
_axis_begin:
_axis_comment: monitor z
_axis_name:st2_monitor_1_z
_cunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:5000
_speed0:5000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:500
_speed2:100
_upper_limit: 500.0
_lower_limit:-500.0
_axis_end:
#
_axis_begin:
_axis_comment: beam stop x axis, used in scantool
_axis_name:st2_bs_1_x
_cunit: pulse
_sunit: mm
_sense:-1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:25.5
_lower_limit:-25.5
_axis_end:
#
_axis_begin:
_axis_comment: beam stop y, used in scantool
_axis_name:st2_bs_1_y
_cunit: pulse
_sunit: mm
_sense:-1
_datum_mode:11010
_home_shift:0
_home_value:0.0
_val2pulse:500
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-1000000
_speed1:1000
_speed2:100
_upper_limit:500.0
_lower_limit:-500.0
_axis_end:
#
_axis_begin:
#_axis_comment: beam stop z,  used in scantool
_axis_comment: beam stop z, evacuate axis, used in scantool
_axis_name:st2_bs_1_z
_sunit: mm
_cunit: pulse
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:5000
_rise0:100
_fall0:100
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:1000
_speed2:100
_upper_limit:500.
_lower_limit:-500.
_axis_end:
#
_axis_begin:
_axis_comment: gonio spindle axis, ws new version
_axis_name:st2_gonio_1_phi
#_axis_name:st1_gonio_1_omega
_cunit: pulse
_sense:1
_datum_mode:00000
_home_shift:0.0
_home_value:210.0
_val2pulse:6667
_speed0:1200000
_rise0:1
_fall0:1
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:600000
_speed2:6000
_upper_limit:901.0
_lower_limit:-901.0
_axis_end:
#
_axis_begin:
_axis_comment: gonio x axis with encoder, plate x axis, used in scantool, ws new version
_axis_name:st2_gonio_1_x
_cunit:pulse
_sunit:pulse
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_val2encoder:100000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:5000
_speed2:100
_upper_limit: 4.0
_lower_limit:-4.0
_axis_end:
#
_axis_begin:
_axis_comment: gonio y axis with encoder, plate y axis, used in scantool, ws new version
_axis_name:st2_gonio_1_y
_cunit: pulse
_sunit: um
_sense:-1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_val2encoder:100000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:5000
_speed2:100
_upper_limit:25.5
_lower_limit:-25.5
_axis_end:
#
_axis_begin:
_axis_comment: gonio z axis with encoder, plate z axis, used in scantool, ws new version
_axis_name:st2_gonio_1_z
_cunit:pulse
_sunit:um
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_val2encoder:100000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:5000
_speed2:100
_upper_limit:4.1
_lower_limit:-4.2
_axis_end:
#
_axis_begin:
_axis_comment: gonio zz axis, scantool
_axis_name:st2_gonio_1_zz
_cunit:pulse
_sense:1
_datum_mode:00101
_home_shift:0
_home_value:0
_val2pulse:2000
_speed0:500
_rise0:50
_fall0:50
_backlash0:200
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:1000
_speed2:500
_upper_limit:5000.0
_lower_limit:-5000.0
_axis_end:
#
_axis_begin:
_axis_comment: sample light, used in scantool
_axis_name:st2_light_1_z
_sunit: mm
_cunit: pulse
_sense:-1
_datum_mode:11010
_home_shift:0
_home_value:0.
_val2pulse:100
_speed0:7000
_rise0:500
_fall0:500
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:100
##_upper_limit:5000.
_upper_limit:10.1
_lower_limit:-5000.
_axis_end:
#
_axis_begin:
_axis_comment: stage horizontal, used in scantool
_axis_name:st2_stage_1_y
_cunit:pulse
_sunit:mm
_sense:1
_datum_mode:00110
_home_shift:0
_home_value:0.0
_val2pulse:10000
#_speed0:5000
#_rise0:50
#_fall0:50
_speed0:20000
_rise0:200
_fall0:200
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:9999.0
_lower_limit:-9999
_axis_end:
#
_axis_begin:
_axis_comment: stage height, used in scantool
_axis_name:st2_stage_1_z
_cunit:pulse
_sunit:mm
_sense:1
_datum_mode:00110
_home_shift:0
_home_value:0.0
_val2pulse:15000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:1000000000
_ccw_limit0:-0100000000
_speed1:1000
_speed2:100
_upper_limit:9999.
_lower_limit:-9999
_axis_end:
#
_axis_begin:
## setting for only CCD use
_axis_comment: cameralength1, scantool
## setting for CCD and CMOS
#_axis_comment: cameralength2, scantool
_axis_name:st2_detector_1_x
_cunit:pulse
_sunit:mm
_sense:-1
##_datum_mode:11010
#_datum_mode:10100 # 20121106
_datum_mode:20100
_home_shift:0.0
#_home_value:  673.568
_home_value:  692.290
_val2pulse:5000
_speed0:100000
_rise0:20
_fall0:20
_backlash0:0
_cw_limit0:50000000
_ccw_limit0:-100000000
_speed1:50000
#_speed2:100
_speed2:1000
#_upper_limit:612.1
_upper_limit:999999
#
#_lower_limit:104.9
#_lower_limit:132.36
#_lower_limit:104.9
#_lower_limit:104.9
_lower_limit:144.9
#_upper_limit:480.1
#_lower_limit:219.9
_axis_end:
#
_axis_begin:
_axis_comment: detector stage y, used in scantool
_axis_name:st2_detector_1_y
_cunit:pulse
_sunit:mm
_sense:1
_datum_mode:11010
_home_shift:0
_home_value:0.0
_val2pulse:5000
_speed0:5000
_rise0:200
_fall0:200
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:5
_upper_limit:9999.9
_lower_limit:-9999.9
_axis_end:
#
_axis_begin:
## setting for CCD and CMOS
#_axis_comment: Cmos stage z, camera height1
## setting for Only CCD
_axis_comment: Cmos stage z
_axis_name:st2_detector_2_z
_cunit:pulse
_sunit:mm
_sense:1
#_datum_mode:01011
_datum_mode:01100
_home_shift:-2500
#_home_value:0.0
#_home_value:597.2
_home_value:599.25
_val2pulse:250
_speed0:10000
_rise0:200
_fall0:200
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:5000
_speed2:100
_upper_limit:1000000.0
_lower_limit:-1000000.0
_axis_end:
#
_axis_begin:
_axis_comment: cryostream evacuate axis
_axis_name:st2_cryo_1_z
_cunit: pulse
_sense:1
_datum_mode:00110
_home_shift:0
_home_value:0.
_val2pulse:1
_speed0:500
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:2000
_ccw_limit0:0
_speed1:1000
_speed2:100
_upper_limit:2000
_lower_limit:0
_axis_end:
#
#_axis_begin:
#_axis_comment: ssd position 
#_axis_name:st2_ssd_1_x
#_cunit: pulse
#_sense:-1
#_datum_mode:01011
#_home_shift:0
#_home_value:0.0
#_val2pulse:500
#_speed0:5000
#_rise0:50
#_fall0:50
#_backlash0:0
#_cw_limit0:1000000
#_ccw_limit0:-1000000
#_speed1:2500
#_speed2:25
#_upper_limit:1000000.
#_lower_limit:-1000000.
#_axis_end:
#
_axis_begin:
_axis_comment: HiPic stage y, used in scantool
_axis_name:st2_motor_1
_cunit:pulse
_sense:1
_datum_mode:00110
_home_shift:0
_home_value:0.0
_val2pulse:500
_speed0:1000
_rise0:100
_fall0:100
_backlash0:-100
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:5
_upper_limit:9999.9
_lower_limit:-9999.9
_axis_end:
#
_axis_begin:
_axis_comment: HiPic stage z, used in scantool
_axis_name:st2_motor_2
_cunit: pulse
_sense:1
_datum_mode:00110
_home_shift:0
_home_value:0.0
_val2pulse:5000
_speed0:10000
_rise0:200
_fall0:200
_backlash0:-1000
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:5
_upper_limit:9999.9
_lower_limit:-9999.9
_axis_end:
###
_axis_begin: 
_axis_comment: XBPM Dounyu-tanshi, used in scantool
_axis_name:st2_motor_5
_cunit:pulse
_sense:-1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_val2pulse:500
_speed0:500
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:20
#_upper_limit:50.9
#_lower_limit:-50.9
_axis_end:
###
_axis_begin:
_axis_comment: xbpm stage y, used in scantool
_axis_name:st2_xbpm_1_x
_cunit:pulse
_sunit:mm
_sense:1
_datum_mode:11010
_home_shift:0
_home_value:0.0
_val2pulse:25000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:5
_upper_limit:9999.9
_lower_limit:-9999.9
_axis_end:
###
_axis_begin:
_axis_comment: xbpm stage z, used in scantool
_axis_name:st2_xbpm_1_y
_cunit:pulse
_sunit:mm
_sense:1
_datum_mode:11010
_home_shift:0
_home_value:0.0
_val2pulse:125000
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:1000000
_ccw_limit0:-1000000
_speed1:500
_speed2:5
_upper_limit:99999.9
_lower_limit:-99999.9
_axis_end:
#
_axis_begin:
_axis_comment: Camera cover z axis, used in scantool
_axis_name:st2_cover_1_z
_cunit: pulse
_sunit: mm
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:1255
_speed0:15000
_rise0:60
_fall0:60
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:200.5
_lower_limit:-200.5
_axis_end:
#
_axis_begin:
_axis_comment: Plate scan x axis, used in scantool
_axis_name:st2_plate_1_x
_cunit: pulse
_sunit: mm
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:1000
_lower_limit:-1000
_axis_end:
#
_axis_begin:
_axis_comment: Plate scan y axis, used in scantool
_axis_name:st2_plate_1_y
_cunit: pulse
_sunit: mm
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:1000.1
_lower_limit:-1000.1
_axis_end:
#
_axis_begin:
_axis_comment: Plate scan z axis, used in scantool
_axis_name:st2_plate_1_z
_cunit: pulse
_sunit: mm
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:1000.1
_lower_limit:-1000.1
_axis_end:
#
_axis_begin:
_axis_comment: Plate scan Phi axis, used in scantool
_axis_name:st2_plate_1_phi
_cunit: pulse
_sunit: deg
_sense:-1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:10000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:25.5
_lower_limit:-25.5
_axis_end:
#
_axis_begin:
#_axis_comment: Plate_2 z axis, used in scantool
_axis_comment: plate zz axis
_axis_name:st2_plate_2_z
_cunit: pulse
_sunit: mm
_sense:1
_datum_mode:10100
_home_shift:0
_home_value:0.0
_val2pulse:1655
_speed0:5000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:100
_upper_limit:90.1
_lower_limit:-.1
_axis_end:
#
#_axis_begin:
#_axis_comment: cameralength1, used in scantool
#_axis_name:st2_motor_8
#_cunit:pulse
#_sense:1
#_datum_mode:01011
#_home_shift:0
#_home_value:0.0
#_val2pulse:5000
#_speed0:500
#_rise0:50
#_fall0:50
#_backlash0:0
#_cw_limit0:1000000
#_ccw_limit0:-1000000
#_speed1:500
#_speed2:20
#_upper_limit:50.9
#_lower_limit:-50.9
#_axis_end:

#
#
#--------------------------------------------------------------
# DIO axes
#--------------------------------------------------------------
#
_axis_begin:
_axis_comment: st shutter control axis
_axis_name:st2_shutter_1
_sense:1
_cunit: digital
_axis_end:
#
_axis_begin:
#_axis_comment: annealing axis, status signal
_axis_comment: annealing axis
_axis_name:st2_cryo_1
_cunit: digital
_axis_end:
#
#--------------------------------------------------------------
# Virtual axes
#--------------------------------------------------------------
# Oscillation axis
_axis_begin:
_axis_comment: oscillation control axis
_axis_name:st2_control_1
_axis_end:
#
# Shutterless scan axis
_axis_begin:
_axis_comment: shutterless scan control 
_axis_name:st2_exposure_1
_axis_end:
#
# Stage tune axis
_axis_begin:
_axis_comment: stage tune axis
_axis_name:st2_stage_1
_counter_channel: 0
_axis_end:
#
#
_axis_begin:
_axis_comment: st slit1 width
_axis_name:st2_slit_1_width
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment:st slit1 height
_axis_name:st2_slit_1_height
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: st slit1 horizontal
_axis_name:st2_slit_1_horizontal
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: st slit1 vertical
_axis_name:st2_slit_1_vertical
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: st slit2 width
_axis_name:st2_slit_2_width
_cunit: mm
_sense:-1
_axis_end:
#
_axis_begin:
_axis_comment: st slit2 height
_axis_name:st2_slit_2_height
_cunit: mm
_sense:-1
_axis_end:
#
_axis_begin:
_axis_comment: st slit2 horizontal
_axis_name:st2_slit_2_horizontal
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: st slit2 vertical
_axis_name:st2_slit_2_vertical
_cunit: mm
_axis_end:
#
#
# Dtheta1 tune axis
_axis_begin:
_axis_comment: monochro tune axis, used in scantool
_axis_name:st2_dtheta1
_counter_channel: 0
_scan_width0:4000
_scan_step0:40
_scan_width1:200
_scan_step1:10
_detune_pulse:-50
# Define detune_position here, if you use MOSTAB with I0 or RC mode
#_detune_position:0.8
_axis_end:
#
#--------------------------------------------------------------
# TC VME axes
#--------------------------------------------------------------
#
_axis_begin:
_axis_comment: monochro control object
_axis_name:tc1_stmono_1
_cunit: angstrome
_axis_end:
#
_axis_begin:
_axis_comment: monochro dtheta1, used in scantool
_axis_name:tc1_stmono_1_dtheta1
_cunit: pulse
_sunit:arcsec
_val2pulse: 100
_axis_end:
#
#
# MOSTAB
#_axis_begin:
#_axis_comment: mostab control
#_axis_name:tc1_mostab_1
# select MOSTAB mode among I0, BPM and RC
# Don't use this option for the time being. 
TC1_MOSTAB_1_mode:I0
#axis_end:
#
MOSTAB_Piezo_Voltage: 0.
#
# TC slit axis
_axis_begin:
_axis_comment: tc slit1 height
_axis_name:tc1_slit_1_height
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 width
_axis_name:tc1_slit_1_width
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 horizontal, scantool
_axis_name:tc1_slit_1_horizontal
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 vertical, scantool
_axis_name:tc1_slit_1_vertical
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 hall blade, scantool
_axis_name:tc1_slit_1_hall
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_cunit:pulse
#_sunit:mm
#_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:
_cw_limit0:10000000
_ccw_limit0:-1000000
_speed1:1000
_speed2:100
_upper_limit:15000
_lower_limit:-5000
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 ring blade, scantool
_axis_name:tc1_slit_1_ring
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_cunit:pulse
#_sunit:mm
#_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:500
_upper_limit:5000
_lower_limit:-15000
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 upper blade, scantool
_axis_name:tc1_slit_1_upper
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_cunit:pulse
#_sunit:mm
#_val2pulse:2000
_speed0:1000
_rise0:50
_fall0:50
_backlash0:0
_cw_limit0:10000000
_ccw_limit0:-10000000
_speed1:1000
_speed2:500
_upper_limit:15000
_lower_limit:-10000
_axis_end:
#
_axis_begin:
_axis_comment: tc slit1 lower blade, scantool
_axis_name:tc1_slit_1_lower
_sense:1
_datum_mode:01011
_home_shift:0
_home_value:0.0
_cunit:pulse
#_sunit:mm
#_val2pulse:2000
_speed0:1000
_rise0:100
_fall0:100
_backlash0:
_cw_limit0:100000000
_ccw_limit0:-100000000
_speed1:1000
_speed2:500
_upper_limit:10000
_lower_limit:-15000
_axis_end:
#
# FE slit axis
_axis_begin:
_axis_comment: FE slit horizontal, scantool
_axis_name:fe_slit_1_horizontal
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: FE slit vertical, scantool
_axis_name:fe_slit_1_vertical
_cunit: mm
_axis_end:
#
_axis_begin:
_axis_comment: FE slit Height
_axis_name:fe_slit_1_height
_cunit: mm
_axis_end:

_axis_begin:
_axis_comment: FE slit Width
_axis_name:fe_slit_1_width
_cunit: mm
_axis_end:
#
#
#--------------------------------------------------------------
# Counter axes
#--------------------------------------------------------------
#
_axis_begin:
_axis_comment: counter board control axis
_axis_name:st2_counter_1
_axis_end:
#
#
#--------------------------------------------------------------
# AO axes (SCA)
#--------------------------------------------------------------
#
#
_axis_begin:
_axis_comment: sca1 voltage control
_axis_name:st2_sca_1
_axis_end:
#
_axis_begin:
_axis_comment: sca2 voltage control
_axis_name:st2_sca_2
_axis_end:
#
#
#
#  -----------------------------------------------
#    _/_/_/ Equipment stage _/_/_/
#  -----------------------------------------------
#
#_stage_begin:
#_stage_comment: BL32XU STAGE
#_stage_end:
#
#  -----------------------------------------------
#    _/_/_/ IP (R-AXIS V) _/_/_/
#  -----------------------------------------------
#
#_detector_begin:
#_detector_comment: ip detector on stage1
#_Name:R-AXISV
#_IP:192.168.215.6
#_Port:9999
#_Read_Mode_Selectable:y
#_detector_end:
#
#
##  -----------------------------------------------
##    _/_/_/ CCD (ADSC Q315) _/_/_/
##  -----------------------------------------------
##
#_detector_begin:
### only CCD used
##_detector_comment: ccd detector on stage1
## setting for CCD and CMOS
#_detector_comment: ccd detector on stage2 
#_Name:ADSC-Q315
##_Name:ADSC-Q210
##   Frame Grabber (det_api_workstation)
##_IP:127.0.0.1
#_IP:192.168.163.21
##_IP:192.168.215.11
#_Port:8041
##   XFORM server (ccd_image_gather)
##_IP2:127.0.0.1
#_IP2:192.168.163.21
##_IP2:192.168.215.11
#_Port2:8046
##   next two lines have no effect on ADSC-CCD
##_Parallel_Process: no
##_Process_Directory: /image/.jhead
#_Expose_Delay: 0.05
#_detector_end:
#
_/_/_/ EIGER9M _/_/_/
#  -----------------------------------------------
#
_detector_begin:
_detector_comment: 2dpx detector on stage1
_Name:EIGER9M
_IP:192.168.163.204
_Port:80
_Dark_Update_Interval: 0
_ADC_Mode_Selectable: n
#following 3 lines are necessary even for pilatus
_Binning_Dimensions: 1
_Readout_Times:0.0042016
_Frame_Transfer_Time:0.00002
_Shutterless_Measurement_Selectable:y
_External_Trigger_Mode:10000
#_External_Trigger_Mode:11111
#_Max_Images_Per_File:100
_Max_Images_Per_File:100
_Auto_Summation_Enabled:y
_Data_Compression_Enabled:y
#_Data_Compression_Type:bslz4
_Data_Compression_Type:bslz4
_FlatField_Correction_Applied:y
_Start_Download_On_Acquisition:y
_detector_end:
#
##
##  -----------------------------------------------
##    _/_/_/ CCD (Rayonix MX225HS) _/_/_/
##  -----------------------------------------------
#_detector_begin:
### only CCD used
#_detector_comment: ccd detector on stage1
### setting for CCD and CMOS
##_detector_comment: ccd detector on stage2
#_Name:MX225HS
##   Frame Grabber (det_api_workstation)
#_IP:192.168.163.32
#_Port:2222
##   next two lines have no effect on ADSC-CCD
#_Parallel_Process: no
#_Process_Directory: /image/.jhead
#_Expose_Delay: 0.0
#_Dark_Update_Interval: 0
#_ADC_Mode_Selectable: y
#
#### includes 8x8 setting 140521 checked but not released
#_Binning_Dimensions:2,4,8
##_Readout_Times:0.099,0.033,0.015
#_Readout_Times:0.099,0.033,0.0107 # 141006 8x8 can set <=93Hz
##_Readout_Times:0.099,0.0249,0.0099 #  it's only for test, MAX Speed
#
#### includes 8x8 setting 140521 checked but not released
##_Binning_Dimensions:2,4
##_Readout_Times:0.099,0.033
#_Shutterless_Measurement_Selectable:y
#_detector_end:
##
#
##  -----------------------------------------------
##    _/_/_/ CCD (Rayonix MX225HE) _/_/_/
##  -----------------------------------------------
#_detector_begin:
### only CCD used
##_detector_comment: ccd detector on stage1
## setting for CCD and CMOS
#_detector_comment: ccd detector on stage2
#_Name:MAR225HE
##   Frame Grabber (det_api_workstation)
#_IP:192.168.163.32
#_Port:2222
##   next two lines have no effect on ADSC-CCD
#_Parallel_Process: no
#_Process_Directory: /image/.jhead
#_Expose_Delay: 0.0
#_Dark_Update_Interval: 0
#_ADC_Mode_Selectable: y
#_Binning_Dimensions:1,2,3,4
#_detector_end:
##
#
#  -----------------------------------------------
#    _/_/_/ CCD (CMOS) _/_/_/
#  -----------------------------------------------
#_detector_begin:
#_detector_comment: cmos detector on stage1
#_IP:192.168.163.108
#_Port:10101
#_Name: CMOS
### for correction on isilon
##_Correction_Program_Directory:/isilon/BL32XU/dkc/cmos
##_Process_Directory:/isilon/BL32XU/dkc/cmos/rawdat
##_Correction_Table:/isilon/BL32XU/dkc/cmos/correction.tbl
##_Correction_Host:oys14
### for correction on ramchan
#_Correction_Program_Directory:/ramdisk/cmos
#_Process_Directory:/ramdisk/cmos/rawdat
#_Correction_Table:/ramdisk/cmos/correction.tbl
#_Correction_Host:ramchan
## listriction of frame rate
#_Max_Exposure_Time: 2.0
#_Min_Exposure_Time: 0.333333333333333333333333333333
## To use Blan08
#_Trigger_Axis:st2_exposure_1_trigger
#_Binning_Dimensions: 1
#_Readout_Times: 0.333333333333333333333333333333
#_Shutterless_Measurement_Selectable:y
##
#_Expose_Delay: 0.1
#_detector_end:

# Correction factor of diffraction scan

# before 120405 and after 120411(K.Hirata)
Diffscan_CMOS_Coeff_Offset: 0.25
Diffscan_CMOS_Start_Offset: 0.75 #-0.9 10um 3Hz Best delay 111128

# 120405
#Diffscan_CMOS_Coeff_Offset: 0.0
#Diffscan_CMOS_Start_Offset: 0.0

# For new version
#Diffscan_CMOS_shutter_offset:-0.05
#Diffscan_CMOS_cmos_offset:-0.3
#Diffscan_CMOS_shutter_close_offset:0.05
#
#
#  ------------------------------------------------
#    _/_/_/ Crystal Centering Server _/_/_/
#  ------------------------------------------------
#
#Ccenter_IP:192.168.163.1
Ccenter_IP:192.168.163.6
##Ccenter_IP:192.168.163.5
#Ccenter_IP:127.0.0.1
Ccenter_Port:10101
#Ccenter_Brightness: 32767
Ccenter_Brightness: 7520
Ccenter_Hue: 32767
Ccenter_Color: 32767
Ccenter_Contrast: 65535
#
#when centering is started, what should be done? on, off, or stay
Ccenter_Light_Condition: on
Ccenter_Collimator_Condition: off
#Ccenter_Light_Condition: stay
#Ccenter_Collimator_Condition: stay

#
#  ------------------------------------------------
#    _/_/_/ Crystal Mount Server _/_/_/
#  ------------------------------------------------
#
Cmount_IP:192.168.163.152
#
Cmount_Port:3665
Cmount_Gonio_Phi:0.0
#Cmount_Gonio_Kappa:0.0
#

# 160408 by YK:
#Cmount_Gonio_X: 0.1829
#Cmount_Gonio_Y: -8.2189
#Cmount_Gonio_Z: 0.2605

# 160508 by YK:
Cmount_Gonio_X: 0.1829
Cmount_Gonio_Y: -8.0272
Cmount_Gonio_Z: 0.2675

#Cmount_Gonio_ZZ: 2.9425
#
##Cmount_Gonio_ZZ:0.6000
Cmount_Gonio_Omega:0.0
Cmount_Max_Tray_Number:  8
#Cmount_Type: SPACE_EVC

# Modified 20110406
Cmount_Lhead_Sense:1
##Cmount_Gonio_Y:0.0
##Cmount_Gonio_Y_Magnet:1.0

Cmount_Camera_Distance_Threshold: 300.0
##Cmount_Camera_Twotheta: 0.0
##Cmount_Collimator_Condition: off // "on", "off" or "table" etc.
Cmount_Collimator_Condition: off
#Cmount_Cryostream_Condition: off
Cmount_Beamstop_Condition: on
#
# TEMP for encoder
Cmount2_IP:192.168.163.107
Cmount2_Port:3665

#
#  ------------------------------------------------
#    _/_/_/ Database Server _/_/_/
#  ------------------------------------------------
#
#Database_IP:dcha.spring8.or.jp
##Database_IP:pxhoge2.harima.riken.go.jp
#Database_Port: 80
#Database_Name: D-Cha
#Database_Check_Directory:/isilon/BL41XU/DChaST/
#Database_Data_Directory:/isilon/BL41XU/DChaST/
#Database_AutoDownload_CC:n
#
#Tray_ID_For_Simulation1:90001000001
#Tray_ID_For_Simulation2:Not-Mounted
#

#  ------------------------------------------------
#    _/_/_/ Attenuator  _/_/_/
#  ------------------------------------------------
#
_attenuator_begin:
#
_attenuator_unit_begin:
_attenuator_unit_comment: attenuator unit1 position defined
Attenuator1_0: None None 3500
Attenuator1_1: Al 100um 3162
Attenuator1_2: Al 200um 3122
Attenuator1_3: Al 300um 3083
Attenuator1_4: Al 400um 3043
Attenuator1_5: Al 500um 3003
Attenuator1_6: Al 600um 2963
Attenuator1_7: Al 700um 2924
Attenuator1_8: Al 800um 2884
Attenuator1_9: Al 900um 2844
Attenuator1_10: Al 1000um 2805
Attenuator1_11: Al 1100um 2765
Attenuator1_12: Al 1200um 2725
Attenuator1_13: Al 1300um 2686
Attenuator1_14: Al 1400um 2646
Attenuator1_15: Al 1500um 2606
Attenuator1_16: Al 1600um 2567
Attenuator1_17: Al 1700um 2527
Attenuator1_18: Al 1800um 2487
Attenuator1_19: Al 2000um 2408
Attenuator1_20: Al 2500um 2209
Attenuator1_21: Al 3000um 2011
Attenuator1_22: Al 3500um 1813
Attenuator1_23: Al 4000um 1614
Attenuator1_24: Al 4500um 1416
Attenuator1_25: Al 5000um 1217
Attenuator1_26: Al 5500um 1019
Attenuator1_27: Auto    9999
_attenuator_unit_end:
#
Attenuator_Menu_Label_0: [None] { 0}
Attenuator_Menu_Label_1: [Al 100um] { 1}
Attenuator_Menu_Label_2: [Al 200um] { 2}
Attenuator_Menu_Label_3: [Al 300um] { 3}
Attenuator_Menu_Label_4: [Al 400um] { 4}
Attenuator_Menu_Label_5: [Al 500um] { 5}
Attenuator_Menu_Label_6: [Al 600um] { 6}
Attenuator_Menu_Label_7: [Al 700um] { 7}
Attenuator_Menu_Label_8: [Al 800um] { 8}
Attenuator_Menu_Label_9: [Al 900um] { 9}
Attenuator_Menu_Label_10: [Al 1000um] { 10}
Attenuator_Menu_Label_11: [Al 1100um] { 11}
Attenuator_Menu_Label_12: [Al 1200um] { 12}
Attenuator_Menu_Label_13: [Al 1300um] { 13}
Attenuator_Menu_Label_14: [Al 1400um] { 14}
Attenuator_Menu_Label_15: [Al 1500um] { 15}
Attenuator_Menu_Label_16: [Al 1600um] { 16}
Attenuator_Menu_Label_17: [Al 1700um] { 17}
Attenuator_Menu_Label_18: [Al 1800um] { 18}
Attenuator_Menu_Label_19: [Al 2000um] { 19}
Attenuator_Menu_Label_20: [Al 2500um] { 20}
Attenuator_Menu_Label_21: [Al 3000um] { 21}
Attenuator_Menu_Label_22: [Al 3500um] { 22}
Attenuator_Menu_Label_23: [Al 4000um] { 23}
Attenuator_Menu_Label_24: [Al 4500um] { 24}
Attenuator_Menu_Label_25: [Al 5000um] { 25}
Attenuator_Menu_Label_26: [Al 5500um] { 26}
Attenuator_Menu_Label_27: [Auto] { 27}
#
_attenuator_end:
#
#  ------------------------------------------------
#    _/_/_/ Remote PLC Control _/_/_/
#  ------------------------------------------------
#
Remote_PLC_Control: Yes
Close_Shutters_After_Experimaent: No
#
#
#  ------------------------------------------------
#    _/_/_/ Printer Name _/_/_/
#  ------------------------------------------------
#
Printer_Name: lp
#
#
#
#  ------------------------------------------------
#    _/_/_/ Light1 _/_/_/
#  ------------------------------------------------
#
Light_1_On_Position: 0.00
Light_1_Off_Position: -100.0
#Light_1_Off_Position: -1
#
Light_Collide_Cameralength: 100.
Light_Position_Increment:-5
#
#
#
#  ------------------------------------------------
#    _/_/_/ SSD1 _/_/_/
#  ------------------------------------------------
#
#Ssd_1_On_Position: 80.0
#Ssd_1_Off_Position: 10.0
#
#  ------------------------------------------------
#    _/_/_/ Beam stop _/_/_/
#  ------------------------------------------------
#
#Beam_Stop_1_On_Position: -10.0

# 140717 K.Hirata
Beam_Stop_1_On_Position:  0.0
#Beam_Stop_1_On_Position:  -10.0
#Beam_Stop_1_Off_Position: -10.0
#Beam_Stop_1_Off_Position: -10.0
#Beam_Stop_1_On_Position:  -1.0
Beam_Stop_1_Off_Position: -1.0

Beam_Stop_Min_Diatance_to_Detector:20
#
#  ------------------------------------------------
#    _/_/_/ Stage-Backlight _/_/_/
#  ------------------------------------------------
#
Stage_Backlight_Condition: off
Stage_Beamstop_Condition: none
#
#  ------------------------------------------------
#    _/_/_/ Collimator _/_/_/
#  ------------------------------------------------
#
Collimator_1_On_Position: 0.0
#Collimator_1_On_Position: -10.0
Collimator_1_Off_Position: -11.0 
#Collimator_1_Off_Position: -22.0 
#
#  ------------------------------------------------
#    _/_/_/ Shutter before mirror (st2slit1)_/_/_/
#  ------------------------------------------------
Collimator_Slit_Link_32XU: on
#-----------------------------------
# till 111005 slit1 upeer blade
#Collimator_Slit_Link_On_Position_32XU: 9
#Collimator_Slit_Link_Off_Position_32XU: 0.15
#-----------------------------------
# since 111005 slit1 lower blade
Collimator_Slit_Link_On_Position_32XU: -9
Collimator_Slit_Link_Off_Position_32XU: -0.15
#
#
#
#  ------------------------------------------------
#    _/_/_/ Cryo-stream _/_/_/
#  ------------------------------------------------
#
# Normal
#Cryostream_1_On_Position: 500
#Cryostream_1_On_Position: 900
# 150919 K.Hirata
Cryostream_1_On_Position: 450
Cryostream_1_Off_Position:700

#141030 K.Hirata for Kapton
#Cryostream_1_On_Position: 900
#Cryostream_1_Off_Position:1000

##Cryostream_1_Off_Position_Magnet: 1000.0

#
#---------------------------------------------------------------------
#       Table of beam stop position
#
#  1: camera distance (mm), 2: beam stop position (mm)
#---------------------------------------------------------------------
#_beamstop_table_begin
#_beamstop_position: 74.  15.
#_beamstop_position: 100. 15.
#_beamstop_position: 200. 20.
#_beamstop_position: 300. 25.
#_beamstop_position: 450. 30.
#_beamstop_position: 550. 35.
#_beamstop_position: 601. 35.
#_beamstop_table_end
#
#  ------------------------------------------------
#    _/_/_/ Debug mode flag  _/_/_/
#  ------------------------------------------------
#
#
Debug_Mode: no
#
#
#  -----------------------------------------------
#    _/_/_/ Insertion Device  _/_/_/
#  -----------------------------------------------
# 
ID_Change_Gap_Retry: y
#
# Relation between E(keV) and ID gap (mm) is approximated by
#    ID Gap = P1 * ln(P2/E - 1) + P3
#  for BL41XU
#ID_Coeff_P1:-5.03195
#ID_Coeff_P2:18.75204
#For_High_En_high_reso
#ID_Coeff_P3:13.10618
#original_value
#  for BL41XU
#
#
#
#ID_Coeff_P3:13.13918
# for BL32XU till 101115
#ID_Coeff_P1:-3.62198
#ID_Coeff_P2:22.6115
#ID_Coeff_P3:9.37671

# Data collection @ 101109
# for BL32XU from 101115
#ID_Coeff_P1:-3.54831
#ID_Coeff_P2:22.4791
#ID_Coeff_P3:9.36296

# test 101209
#ID_Coeff_P1:-3.573
#ID_Coeff_P2:22.493
#ID_Coeff_P3:9.3401

#
#
#
#  ------------------------------------------------
#    _/_/_/ Usable Energy Range in keV unit _/_/_/
#  ------------------------------------------------
## 7Gev
Energy_Range: 8.4 15.1
## 8Gev
#Energy_Range: 8.4 19.9
#
# ---------------------------------------------------------------------
#       Table of ID-Gap Position
#
#  1: Energy (keV), 2: ID-Gap position (mm)
#
#  Calculated by Spline interpolation
# ---------------------------------------------------------------------
#_idgap_table_begin:
#_energy_vs_gap: 8.  8.5
#_energy_vs_gap: 12. 12.5
#_energy_vs_gap: 14. 14.5
#_energy_vs_gap: 15. 15.5
#_energy_vs_gap: 20. 20.5
#_idgap_table_end:

## Observed peak (E .vs. gap) 101115
# Observed peak (E .vs. gap) 130513
_idgap_table_begin:
_energy_vs_gap:   8.000    7.40000
_energy_vs_gap:   8.100    7.40000
_energy_vs_gap:   8.200    7.44000
_energy_vs_gap:   8.300    7.48700
_energy_vs_gap:   8.400    7.55000
_energy_vs_gap:   8.500    7.61200
_energy_vs_gap:   8.600    7.67500
_energy_vs_gap:   8.700    7.73700
_energy_vs_gap:   8.800    7.79800
_energy_vs_gap:   8.900    7.86200
_energy_vs_gap:   9.000    7.92300
_energy_vs_gap:   9.100    7.98500
_energy_vs_gap:   9.200    8.04700
_energy_vs_gap:   9.300    8.10900
_energy_vs_gap:   9.400    8.17000
_energy_vs_gap:   9.500    8.23200
_energy_vs_gap:   9.600    8.29500
_energy_vs_gap:   9.700    8.35600
_energy_vs_gap:   9.800    8.41900
_energy_vs_gap:   9.900    8.48000
_energy_vs_gap:  10.000    8.54100
_energy_vs_gap:  10.100    8.60400
_energy_vs_gap:  10.200    8.66600
_energy_vs_gap:  10.300    8.72700
_energy_vs_gap:  10.400    8.78900
_energy_vs_gap:  10.500    8.85100
_energy_vs_gap:  10.600    8.91300
_energy_vs_gap:  10.700    8.97400
_energy_vs_gap:  10.800    9.03700
_energy_vs_gap:  10.900    9.09800
_energy_vs_gap:  11.000    9.16000
_energy_vs_gap:  11.100    9.22400
_energy_vs_gap:  11.200    9.28600
_energy_vs_gap:  11.300    9.34800
_energy_vs_gap:  11.400    9.41000
_energy_vs_gap:  11.500    9.47300
_energy_vs_gap:  11.600    9.53600
_energy_vs_gap:  11.700    9.60000
_energy_vs_gap:  11.800    9.66200
_energy_vs_gap:  11.900    9.72500
_energy_vs_gap:  12.000    9.78900
_energy_vs_gap:  12.100    9.85200
_energy_vs_gap:  12.200    9.91600
_energy_vs_gap:  12.300    9.97900
_energy_vs_gap:  12.400   10.04400
_energy_vs_gap:  12.500   10.11000
_energy_vs_gap:  12.600   10.17200
_energy_vs_gap:  12.700   10.23700
_energy_vs_gap:  12.800   10.30200
_energy_vs_gap:  12.900   10.36800
_energy_vs_gap:  13.000   10.43200
_energy_vs_gap:  13.100   10.49700
_energy_vs_gap:  13.200   10.56300
_energy_vs_gap:  13.300   10.62800
_energy_vs_gap:  13.400   10.69600
_energy_vs_gap:  13.500   10.76200
_energy_vs_gap:  13.600   10.82800
_energy_vs_gap:  13.700   10.89700
_energy_vs_gap:  13.800   10.96400
_energy_vs_gap:  13.900   11.03200
_energy_vs_gap:  14.000   11.09900
_energy_vs_gap:  14.100   11.16900
_energy_vs_gap:  14.200   11.23800
_energy_vs_gap:  14.300   11.30600
_energy_vs_gap:  14.400   11.37600
_energy_vs_gap:  14.500   11.44600
_energy_vs_gap:  14.600   11.52000
_energy_vs_gap:  14.700   11.59100
_energy_vs_gap:  14.800   11.66100
_energy_vs_gap:  14.900   11.73200
_energy_vs_gap:  15.000   11.80800
_energy_vs_gap:  15.100   11.88000
_energy_vs_gap:  15.200   11.95100
_energy_vs_gap:  15.300   12.02600
_energy_vs_gap:  15.400   12.10000
_energy_vs_gap:  15.500   12.17600
_energy_vs_gap:  15.600   12.24900
_energy_vs_gap:  15.700   12.32800
_energy_vs_gap:  15.800   12.40600
_energy_vs_gap:  15.900   12.48400
_energy_vs_gap:  16.000   12.55900
_energy_vs_gap:  16.100   12.63700
_energy_vs_gap:  16.200   12.72000
_energy_vs_gap:  16.300   12.79600
_energy_vs_gap:  16.400   12.88200
_energy_vs_gap:  16.500   12.96200
_energy_vs_gap:  16.600   13.04300
_energy_vs_gap:  16.700   13.12900
_energy_vs_gap:  16.800   13.21600
_energy_vs_gap:  16.900   13.29900
_energy_vs_gap:  17.000   13.38600
_energy_vs_gap:  17.100   13.47300
_energy_vs_gap:  17.200   13.56300
_energy_vs_gap:  17.300   13.64700
_energy_vs_gap:  17.400   13.73900
_energy_vs_gap:  17.500   13.83400
_energy_vs_gap:  17.600   13.92700
_energy_vs_gap:  17.700   14.01800
_energy_vs_gap:  17.800   14.12000
_energy_vs_gap:  17.900   14.21100
_energy_vs_gap:  18.000   14.31500
_energy_vs_gap:  18.100   14.41000
_energy_vs_gap:  18.200   14.51000
_energy_vs_gap:  18.300   14.61200
_energy_vs_gap:  18.400   14.71700
_energy_vs_gap:  18.500   14.82700
_energy_vs_gap:  18.600   14.93500
_energy_vs_gap:  18.700   15.04900
_energy_vs_gap:  18.800   15.15400
_energy_vs_gap:  18.900   15.26800
_energy_vs_gap:  19.000   15.38500
_energy_vs_gap:  19.100   15.50500
_energy_vs_gap:  19.200   15.62400
_energy_vs_gap:  19.300   15.74600
_energy_vs_gap:  19.400   15.87200
_energy_vs_gap:  19.500   16.00600
_energy_vs_gap:  19.600   16.12400
_energy_vs_gap:  19.700   16.26700
_energy_vs_gap:  19.800   16.41700
_energy_vs_gap:  19.900   16.55000
_energy_vs_gap:  20.000   16.70500
_energy_vs_gap:  20.100   16.84900
_energy_vs_gap:  20.200   16.99800
_energy_vs_gap:  20.300   17.16000
_idgap_table_end:

#  -----------------------------------------------
#    _/_/_/ Goniometer Oscillation Condition _/_/_/
#  -----------------------------------------------
Osc_Speed_Lower_Limit: 100
Osc_Step_Lower_Limit: 0.001
#Osc_Speed_Lower_Limit: 50
#Osc_Speed_Upper_Limit: 16000
#Osc_Speed_Upper_Limit: 4000000
Osc_Speed_Upper_Limit: 67000
#Oneway_Max_Exposure_Time:0.19
Oneway_Max_Exposure_Time:0.001
#Oneway_Max_Exposure_Time:5.0
Osc_Turnover_Time:50.0
#Osc_Turnover_Time:100.0
Osc_Accel_Upper_Limit:0
Osc_Initial_Speed:1
#
#
#  -----------------------------------------------
#    _/_/_/ Directory Permission _/_/_/
#  -----------------------------------------------
Directory_Permission: 700
#
#
#
#  -----------------------------------------------
#    _/_/_/ Evacuate Condition _/_/_/
#  -----------------------------------------------
Beam_Stop_Evacuate_Position:-10
Evacuate_Camera_Distance1: 300
Evacuate_after_Measurement:y
#
#
#  -----------------------------------------------
#    _/_/_/ Coaxial zoom lens _/_/_/
#  -----------------------------------------------
#ueno Sep03,2010
Microscope_Zoom_Options: -48000 -32000 -16000 0
#
Microscope_Min_Zoom_Position: -48000
Microscope_Max_Zoom_Position: 0
#Microscope_Min_Zoom_Ratio: 3.55
#Microscope_Max_Zoom_Ratio: 34.0
Microscope_Min_Zoom_Ratio: 14.0
Microscope_Max_Zoom_Ratio: 130.0

#
#  -----------------------------------------------
#    _/_/_/ For Intensity Logging _/_/_/
#  -----------------------------------------------
_axis_begin:
_axis_comment: intensity logging used in scantool
_axis_name:intensity_logging
_sunit:sec
_axis_end:
#
#  -----------------------------------------------
#    _/_/_/ Initalization switch when start BSS _/_/_/
#  -----------------------------------------------
Ignore_Axis_Initialization: Yes

#---------------------------------------------------------------------
# Tune condition can be defined in bl41xu.config table
# Stage-Y, Z, dtheata detune, Collimator, Beam Stopper
#---------------------------------------------------------------------
Tune_like_BL41XU:n

#---------------------------------------------------------------------
# If change of wavelength is grater than Delta_Tuning_Wavelength,
# beamline tuning (dtheta1 tune & stage tune) will be done anyway.
# If it is less than Delta_Tuning_Wavelength, tuning will be done
# when decrease of intensity is greater than 10 percent.
#
# Default: 0.0055 [A]
#---------------------------------------------------------------------
Delta_Tuning_Wavelength: 0.0055

#---------------------------------------------------------------------
# If last beamline tuning was done longer than Tune_Interval [sec] ago,
# beamline tuning will be done anyway.
# Else if tuning will be done only  when decrease of intensity is
# greater than 10 percent.
#
# Negative value means tuning every Tuning_Interval [sec] option
#             is igonred. (2004.11.8 KH)
#
# Default: 3600. [sec]
#---------------------------------------------------------------------
#Tuning_Interval: 72000.
Tuning_Interval: -72000.


#------------------
Disable_Auto_Centering: yes

Set_Beamsize_in_Job: y

#  ------------------------------------------------
#    _/_/_/ XFEL test mode _/_/_/
#  ------------------------------------------------
#
XFEL_Test_Mode: n

#  ------------------------------------------------
#    _/_/_/ Shutterless scan conditions  _/_/_/
#  ------------------------------------------------
#
_Shutterless_Scan_Speed_Limits:65535,655350, 6553500
#_Shutterless_Scan_Takeoff_Coefficient:1.0
_Shutterless_Scan_Takeoff_Coefficient:0.97
_Shutterless_Scan_Initial_Speed:1
_Shutterless_Scan_Delay_Time:400
_Shutterless_Scan_Offset_Time:14.5
_Shutterless_Scan_Readout_Time:-10.75


#  ------------------------------------------------
#    _/_/_/ Diffraction scan ZigZag test mode _/_/_/
#  ------------------------------------------------
#
Test0_Mode: n
